$color-code: #fafafb;
body,
html, main, aside {
  height: 100%;
}

.usa-sidenav-list>li {
  border-top: none;
}
.usa-sidenav-list a {
  &:hover {
    background-color: transparent;
  }
  &.usa-current {
    border: none;
    padding-left: 1.8rem;
  }
}
.usa-section {
  padding: 65px 0;
}
.usa-sidenav-list {
  margin-top: 2em;
}
.usa-banner-inner {
  padding: 0;
}
.usa-footer-primary-section {
  background-color: $color-white;
}
aside {
  ul {
    list-style: none;
    padding: 0;
    li {
      font-weight: 700;
    }
    ul {
      margin-top: 0;
      padding-left: 1em;
      li {
        font-weight: normal;
      }
    }
  }
}
.usa-header {
  background-color: $color-white;
  position: fixed;
}
.usa-grid {
  max-width: 100%;
}
.usa-nav-container {
  max-width: 100%;
}
@media screen and (min-width: 951px) {
  .usa-navbar {
    height: 4rem;
  }
  .usa-nav {
    padding-top: 0;
  }
  .usa-nav-primary>li>a {
    padding-bottom: 1.3rem;
  }
}
body {
  font-size: 1.4em;
}

h1 {
  font-size: 3rem;
  margin-top: 1.3em;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

hgroup {
  h3,
  h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  h4 {
    font-size: 1em;
    font-weight: normal;
  }
}

table {
  margin-top: 0;
}

.usa-sidenav-list a {
  font-family: $font-serif;
}

.usa-content p:not(.usa-font-lead),
.usa-content ul:not(.usa-accordion):not(.usa-accordion-bordered),
.usa-content ol:not(.usa-accordion):not(.usa-accordion-bordered) {
  max-width: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
  margin: 1em 0;
  padding: 0;
}

pre,
code {
  background-color: $color-code;
  border: 1px solid #cacaca;
  color: #393939;
  font-family: $font-code;
  font-size: 12px;
}

pre {
  border-radius: 3px;
  padding: 1em;

  code {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

code {
  border-radius: 3px;
  padding: 3px;
}

code[class*='language-'] {
  padding: 0;
}

pre[class*='language-'] {
  color: #393939;
  font-family: $font-code;
  line-height: 1.2;
  padding: 10px;
  text-shadow: none;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: $color-code;
  border: 1px solid $color-gray-light;
  border-radius: 2px;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #d14;
}

.token.punctuation {
  color: #393939;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent;
  color: #393939;
}

.token.number {
  color: #099;
}

.token.boolean {
  color: #393939;
  font-weight: bold;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: navy;
}

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
  background: $color-white;
  border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $color-primary;
  padding: 5px;
}

.code-block {
  position: relative;
  &>code {
    background: transparent;
    border: none;
    font-size: 0.8em;
    padding: 0 2px 0 0;
    position: absolute;
    right: 0;
    top: -20px;
  }
}
