sudo: false

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

language: scala

scala: 2.11.7

jdk:
- oraclejdk8

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install 0.10.36
  - nvm use 0.10.36

script: 
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test assembly
  
  # Trick to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm

after_success:
  - bash <(curl -s https://codecov.io/bash)
