sudo: false

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

language: scala

scala: 2.12.4

jdk:
- oraclejdk9
- oraclejdk8

before_install:
  - . $HOME/.nvm/nvm.sh
  - nvm install 8.9.4
  - nvm use 8.9.4

script: 
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test hmda-platform/assembly
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test check-digit/assembly
  - sbt ++$TRAVIS_SCALA_VERSION coverageReport
  - sbt ++$TRAVIS_SCALA_VERSION coverageAggregate
  
  # Trick to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm

after_success:
  - bash <(curl -s https://codecov.io/bash)
