# Assumes UI repo is cloned in parent directory
version: '2'
services:
  api:
    build: .
    ports:
      - '9090:8080'
      - '9091:8081'
      - '9092:8082'
    volumes:
    - ./target/scala-2.12/hmda.jar:/opt/hmda.jar
    depends_on:
      - cassandra
      - zookeeper
      - query_db
    environment:
      JDBC_URL: jdbc:postgresql://192.168.99.100:54321/hmda?user=postgres&password=postgres
      ZOOKEEPER_HOST: zookeeper
      ZOOKEEPER_PORT: 2181
      CASSANDRA_CLUSTER_HOSTS: cassandra
      CASSANDRA_CLUSTER_PORT: 9042
    restart: unless-stopped


  ui:
    build:
      context: ../hmda-platform-ui
      args:
        SKIP_JS_BUILD: 1
    ports:
      - "80:80"
    depends_on:
      - api
      - auth_proxy
      - keycloak
    volumes:
      - ../hmda-platform-ui/dist:/usr/src/app/dist
    environment:
      APP_URL: http://192.168.99.100
      HMDA_API: https://192.168.99.100:4443/hmda
      KEYCLOAK_URL: https://192.168.99.100:8443/auth/realms/hmda

  keycloak:
    build: ../hmda-platform-auth/keycloak
    ports:
      - '8080:8080'
      - '8443:8443'
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
      POSTGRES_SERVER: keycloak_db
      POSTGRES_PORT: 5432
      INSTITUTION_SEARCH_URI: https://192.168.99.100:9443
      INSTITUTION_SEARCH_VALIDATE_SSL: "OFF"
      HOME_PAGE_URI: http://192.168.99.100
      REDIRECT_URIS: '[ "http://192.168.99.100", "http://192.168.99.100/oidc-callback", "http://192.168.99.100/silent_renew.html" ]'
      SUPPORT_EMAIL: 'support@localhost.localdomain'
    volumes:
      - '../hmda-platform-auth/keycloak/themes/hmda:/opt/jboss/keycloak/themes/hmda'
    #  - '../hmda-platform-auth/keycloak/import:/opt/jboss/import'

    # Set action to "export" to dump Keycloak realm data
    command: >
      -Dkeycloak.migration.action=import
      -Dkeycloak.migration.provider=dir
      -Dkeycloak.migration.dir=/opt/jboss/import/
      -Dkeycloak.migration.strategy=OVERWRITE_EXISTING
      -Dkeycloak.migration.usersExportStrategy=SKIP
      -b 0.0.0.0
    links:
      - mail_dev
      - keycloak_db
      - api

  keycloak_db:
    image: postgres:9.6.1
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password

  auth_proxy:
    build: ../hmda-platform-auth/auth-proxy
    ports:
      - '4443:8443' # Auth Proxy
      - '9443:9443' # Institution Search
    environment:
      OIDC_METADATA_URI: https://keycloak:8443/auth/realms/hmda/.well-known/openid-configuration
      OIDC_JWKS_URI: https://keycloak:8443/auth/realms/hmda/protocol/openid-connect/certs
      OIDC_CLIENT_ID: api
      OIDC_REDIRECT_URI: https://192.168.99.100:8443
      CRYPTO_PASSPHRASE: abcdefghijklmnopqrstuvwxyz
      VALIDATE_SSL: "Off"
      CLAIM_HEADER_PREFIX: CFPB-HMDA-
      REMOTE_USER_CLAIM: preferred_username
      REMOTE_USER_HEADER: CFPB-HMDA-Username
      FILING_API_UPSTREAM_URI: http://api:8080/
      FILING_API_PATH_PREFIX: /hmda/
      PUBLIC_API_UPSTREAM_URI: http://api:8082/
      LOG_LEVEL: info
    links:
      - api
      - keycloak

  mail_dev:
    image: djfarrelly/maildev:0.14.0
    ports:
      - '1080:80'

  query_db:
    image: postgres:9.6.1
    ports:
      - '54321:5432'
    environment:
      POSTGRES_DB: hmda
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  zookeeper:
    image: jplock/zookeeper
    ports:
      - '2181:2181'
    depends_on:
      - cassandra

  cassandra:
    image: cassandra
    ports:
      - '9042:9042'
      - '7000:7000'
      - '7199:7199'