apiVersion: v1
kind: Service
metadata:
  name: {{ template "rate-limit.name" . }}
  annotations:
    getambassador.io/config: |
      ---
      apiVersion: ambassador/v2
      kind: RateLimitService
      name: {{ template "rate-limit.name" . }}
      service: "{{ template "rate-limit.name" . }}:{{ .Values.grpc.port }}"
      ambassador_id: ambassador-beta-2
  labels:
    app: ratelimiter
spec:
  type: ClusterIP
  selector:
    app: {{ template "rate-limit.name" . }}
  ports:
  - protocol: TCP
    port: {{ .Values.grpc.port }}
    targetPort: {{ .Values.grpc.port }}
    name: http
