<footer class="usa-footer usa-footer-medium" role="contentinfo">
  <div class="usa-footer-return-to-top">
    <a href="#top">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <nav class="usa-footer-nav">
      <ul class="usa-unstyled-list">
        <li class="usa-width-one-fourth usa-footer-primary-content">
          <a href="{{ "/" | relative_url }}" class="usa-footer-primary-link" title="Home">Home</a>
        </li>

        {% for link in site.data.nav %}
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ link.href | relative_url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</footer>