<aside>
  <a href="{{ "/" | relative_url }}" title="Home" aria-label="FFIEC"><img src="{{ "/img/ffiec-logo.png" | relative_url }}" height="25px" alt="FFIEC"></a>

  <ul class="usa-sidenav-list">
    <li>
      <a href="{{ "/" | relative_url }}" class="" title="Home">Home</a>
    </li>
    {% for link in site.data.nav %}
      <li>
        <a href="{{ link.href | relative_url }}">{{ link.title }}</a>
      </li>
      {% if link.sub %}
        <ul class="usa-sidenav-sub_list">
          {% for sub in link.sub %}
            <li>
              <a href="{{ sub.href | relative_url }}">{{ sub.title }}</a>
            </li>
            {% if sub.sub %}
              <ul class="usa-sidenav-sub_list">
                {% for subsub in sub.sub %}
                  <li>
                    <a href="{{ subsub.href | relative_url }}">{{ subsub.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</aside>