body,
html,
main,
aside {
  height: 100%;
}

body {
  font-size: 1.5em;
}

h1 {
  font-size: 3rem;
  margin-top: 1.3em;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

hgroup {
  h1 {
    margin-bottom: 0;
  }

  h2,
  h3,
  .usa-font-lead {
    margin: .25em 0;
  }
}

hr {
  border: 0;
  border-top: 1px solid #d6d7d9;
  display: block;
  height: 1px;
  margin: 2em 0;
  padding: 0;
}

table {
  margin-top: 0;
}

aside {
  ul {
    list-style: none;
    padding: 0;
    li {
      font-weight: 700;
    }
    ul {
      margin-top: 0;
      padding-left: 1em;
      li {
        font-weight: normal;
      }
    }
  }
}

.margin-bottom-0 {
  margin-bottom: 0;
}
