pre,
code {
  background-color: #fafafb;
  border: 1px solid #cacaca;
  color: #393939;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 12px;
}

pre {
  border-radius: 3px;
  padding: 1em;

  code {
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }
}

code {
  border-radius: 3px;
  padding: 3px;
  vertical-align: middle;
}

.code-block {
  position: relative;
  & > code {
    background: transparent;
    border: none;
    font-size: 0.8em;
    padding: 0 2px 0 0;
    position: absolute;
    right: 0;
    top: -20px;
  }
}

.usa-font-lead {
  code {
    font-size: .7em;
  }
}