// just reset the serif font to the sans font for ease of use
$font-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;