kind: Service
apiVersion: v1
metadata:
  name: hmda-bootstrap
spec:
  # by setting the clusterIp to None we are a "headless service"
  # and thus the svc ("service") DNS record for the single IP but the IPs of all nodes that we select
  #
  # In other words:
  #  POD=$(kubectl get pods | grep hmda | grep Running | head -n1 | awk '{ print $1 }')
  #  $ kubectl exec -it $POD -- nslookup hmda-service.default.svc.cluster.local
  #  Server:		10.0.0.10
  #  Address:	10.0.0.10#53
  #
  #  Name:	hmda-service.default.svc.cluster.local
  #  Address: 172.17.0.7
  #  Name:	hmda-service.default.svc.cluster.local
  #  Address: 172.17.0.8
  #  Name:	hmda-service.default.svc.cluster.local
  clusterIP: None
  selector:
    app: hmda
  ports:
  - protocol: {{ .Values.bootstrap.protocol }}
    port: {{ .Values.bootstrap.port }}
    targetPort: {{ .Values.bootstrap.port }}

---
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.service.name }}
spec:
  selector:
    app: hmda-platform
  type: NodePort
  ports:
  - name: {{ .Values.filing.name }}
    protocol: {{ .Values.filing.protocol }}
    port: {{ .Values.filing.port }}
    targetPort: {{ .Values.filing.port }}
  - name: {{ .Values.admin.name }}
    protocol: {{ .Values.admin.protocol }}
    port: {{ .Values.admin.port }}
    targetPort: {{ .Values.admin.port }}
  - name: {{ .Values.public.name }}
    protocol: {{ .Values.public.protocol }}
    port: {{ .Values.public.port }}
    targetPort: {{ .Values.public.port }}
  - name: {{ .Values.cluster.name }}
    protocol: {{ .Values.cluster.protocol }}
    port: {{ .Values.cluster.port }}
    targetPort: {{ .Values.cluster.port }}
  - name: {{ .Values.websockets.name }}
    protocol: {{ .Values.websockets.protocol }}
    port: {{ .Values.websockets.port }}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-admin
  name: ambassador-hmda-admin
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_admin_mapping
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}
      timeout_ms: 0
      prefix: /v2/admin/
      service: {{ .Values.service.name }}:{{ .Values.admin.port }}
spec:
  clusterIP: None  
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-filing
  name: ambassador-hmda-filing
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_filing_mapping
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}
      prefix: /v2/filing/
      service: {{ .Values.service.name }}:{{ .Values.filing.port }}
      timeout_ms: 0
      add_response_headers:
        referrer-policy:
          value: strict-origin
          append: False
        content-security-policy:
          append: False
          value: "default-src 'self' blob:; script-src 'self' 'unsafe-inline' blob: data: https://tagmanager.google.com https://www.googletagmanager.com https://www.google-analytics.com https://*.cfpb.gov https://www.consumerfinance.gov; img-src 'self' blob: data: https://www.google-analytics.com https://raw.githubusercontent.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; frame-src 'self' https://www.youtube.com/ https://ffiec.cfpb.gov/; connect-src 'self' https://*.cfpb.gov https://www.consumerfinance.gov https://raw.githubusercontent.com https://ffiec-api.cfpb.gov https://ffiec.cfpb.gov https://*.mapbox.com https://www.google-analytics.com https://s3.amazonaws.com"
        permissions-policy:
          value: "autoplay=(), encrypted-media=(), fullscreen=(), geolocation=(), microphone=(), midi=()"
        Strict-Transport-Security: 
          append: False
          value: "max-age=31536000; includeSubDomains; preload"
      remove_response_headers:
      - x-envoy-upstream-service-time
      - Access-Control-Allow-Origin
      - x-forwarded-host
      - x-host
      - x-forwarded-server
spec:
  clusterIP: None
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-filing-websocket
  name: ambassador-hmda-filing-websocket
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_filing_mapping_websocket
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}
      prefix: '/v2/filing/institutions/([a-zA-Z0-9]+)/filings/(\d{4})/submissions/(\d+)/progress'
      prefix_regex: true
      regex_rewrite:
         pattern: '/v2/filing/institutions/([a-zA-Z0-9]+)/filings/(\d{4})/submissions/(\d+)/progress'
         substitution : '/institutions/\1/filings/\2/submissions/\3/progress'
      service: {{ .Values.service.name }}:{{ .Values.filing.port }}
      timeout_ms: 0
      allow_upgrade:
        - websocket      
      add_response_headers:
        referrer-policy:
          value: strict-origin
          append: False
        content-security-policy:
          append: False
          value: "default-src 'self' blob:; script-src 'self' 'unsafe-inline' blob: data: https://tagmanager.google.com https://www.googletagmanager.com https://www.google-analytics.com https://*.cfpb.gov https://www.consumerfinance.gov; img-src 'self' blob: data: https://www.google-analytics.com https://raw.githubusercontent.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; frame-src 'self' https://www.youtube.com/ https://ffiec.cfpb.gov/; connect-src 'self' https://*.cfpb.gov https://www.consumerfinance.gov https://raw.githubusercontent.com https://ffiec-api.cfpb.gov https://ffiec.cfpb.gov https://*.mapbox.com https://www.google-analytics.com https://s3.amazonaws.com"
        permissions-policy:
          value: "autoplay=(), encrypted-media=(), fullscreen=(), geolocation=(), microphone=(), midi=()"
        Strict-Transport-Security: 
          append: False
          value: "max-age=31536000; includeSubDomains; preload"
      remove_response_headers:
      - x-envoy-upstream-service-time
      - Access-Control-Allow-Origin
      - x-forwarded-host
      - x-host
      - x-forwarded-server
spec:
  clusterIP: None  
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-filing-qtr-websocket
  name: ambassador-hmda-filing-qtr-websocket
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_filing_mapping__qtr_websocket
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}
      prefix: '/v2/filing/institutions/([a-zA-Z0-9]+)/filings/(\d{4})/quarter/Q([1-3])/submissions/(\d+)/progress'
      prefix_regex: true
      regex_rewrite:
         pattern: '/v2/filing/institutions/([a-zA-Z0-9]+)/filings/(\d{4})/quarter/Q([1-3])/submissions/(\d+)/progress'
         substitution : '/institutions/\1/filings/\2/quarter/Q\3/submissions/\4/progress' 
      service: {{ .Values.service.name }}:{{ .Values.filing.port }}
      timeout_ms: 0
      allow_upgrade:
        - websocket
      add_response_headers:
        referrer-policy:
          value: strict-origin
          append: False
        content-security-policy:
          append: False
          value: "default-src 'self' blob:; script-src 'self' 'unsafe-inline' blob: data: https://tagmanager.google.com https://www.googletagmanager.com https://www.google-analytics.com https://*.cfpb.gov https://www.consumerfinance.gov; img-src 'self' blob: data: https://www.google-analytics.com https://raw.githubusercontent.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; frame-src 'self' https://www.youtube.com/ https://ffiec.cfpb.gov/; connect-src 'self' https://*.cfpb.gov https://www.consumerfinance.gov https://raw.githubusercontent.com https://ffiec-api.cfpb.gov https://ffiec.cfpb.gov https://*.mapbox.com https://www.google-analytics.com https://s3.amazonaws.com"
        permissions-policy:
          value: "autoplay=(), encrypted-media=(), fullscreen=(), geolocation=(), microphone=(), midi=()"
        Strict-Transport-Security: 
          append: False
          value: "max-age=31536000; includeSubDomains; preload"
      remove_response_headers:
      - x-envoy-upstream-service-time
      - Access-Control-Allow-Origin
      - x-forwarded-host
      - x-host
      - x-forwarded-server
spec:
  clusterIP: None  
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-public
  name: ambassador-hmda-public
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_public_mapping
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}    
      prefix: /v2/public/
      service: {{ .Values.service.name }}:{{ .Values.public.port }}
      add_response_headers:
        referrer-policy:
          value: strict-origin
          append: False
        content-security-policy:
          append: False
          value: "default-src 'self' blob:; script-src 'self' 'unsafe-inline' blob: data: https://tagmanager.google.com https://www.googletagmanager.com https://www.google-analytics.com https://*.cfpb.gov https://www.consumerfinance.gov; img-src 'self' blob: data: https://www.google-analytics.com https://raw.githubusercontent.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; frame-src 'self' https://www.youtube.com/ https://ffiec.cfpb.gov/; connect-src 'self' https://*.cfpb.gov https://www.consumerfinance.gov https://raw.githubusercontent.com https://ffiec-api.cfpb.gov https://ffiec.cfpb.gov https://*.mapbox.com https://www.google-analytics.com https://s3.amazonaws.com"
        permissions-policy:
          value: "autoplay=(), encrypted-media=(), fullscreen=(), geolocation=(), microphone=(), midi=()"
        Strict-Transport-Security: 
          append: False
          value: "max-age=31536000; includeSubDomains; preload"
      remove_response_headers:
      - x-envoy-upstream-service-time
      - Access-Control-Allow-Origin
      - x-forwarded-host
      - x-host
      - x-forwarded-server
spec:
  clusterIP: None  
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-cluster
  name: ambassador-hmda-cluster
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_cluster_mapping
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host: {{ .Values.ambassador_host }}
      {{- end}}
      prefix: /v2/cluster/
      rewrite: /cluster/members
      service: {{ .Values.service.name }}:{{ .Values.cluster.port }}
spec:
  clusterIP: None  
---
apiVersion: v1
kind: Service
metadata:
  labels:
    service: ambassador-hmda-ws
  name: ambassador-hmda-ws
  annotations:
    getambassador.io/config: |
      apiVersion: ambassador/v2
      kind: Mapping
      name: hmda_ws_mapping
      {{- if .Values.ambassador_id }}
      ambassador_id: {{ .Values.ambassador_id }}
      {{- end}}
      {{- if .Values.ambassador_host }}
      host:  {{ .Values.ambassador_host }}
      {{- end}}
      prefix: /v2/ws/status/
      timeout_ms: 380000
      retry_policy:
        num_retries: 10
        retry_on: 5xx
      service: {{ .Values.service.name }}:{{ .Values.websockets.port }}
      allow_upgrade:
       - websocket
      add_response_headers:
        referrer-policy:
          value: strict-origin
          append: False
        content-security-policy:
          append: False
          value: "default-src 'self' blob:; script-src 'self' 'unsafe-inline' blob: data: https://tagmanager.google.com https://www.googletagmanager.com https://www.google-analytics.com https://*.cfpb.gov https://www.consumerfinance.gov; img-src 'self' blob: data: https://www.google-analytics.com https://raw.githubusercontent.com; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src 'none'; frame-src 'self' https://www.youtube.com/ https://ffiec.cfpb.gov/; connect-src 'self' https://*.cfpb.gov https://www.consumerfinance.gov https://raw.githubusercontent.com https://ffiec-api.cfpb.gov https://ffiec.cfpb.gov https://*.mapbox.com https://www.google-analytics.com https://s3.amazonaws.com"
        permissions-policy:
          value: "autoplay=(), encrypted-media=(), fullscreen=(), geolocation=(), microphone=(), midi=()"
        Strict-Transport-Security: 
          append: False
          value: "max-age=31536000; includeSubDomains; preload"
      remove_response_headers:
      - x-envoy-upstream-service-time
      - Access-Control-Allow-Origin
      - x-forwarded-host
      - x-host
      - x-forwarded-server
spec:
  clusterIP: None
