apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "institutions-api.fullname" . }}-config
  labels:
    app: {{ template "institutions-api.name" . }}
    chart: {{ template "institutions-api.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  INSTITUTION_YEARS_AVAILABLE: 2018,2019,2020,2021,2022,2023
  INSTITUTION_DEFAULT_YEAR: "2022"