<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d][%-5level][%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="${PLATFORM_LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC" />
    </root>
    <logger name="com.datastax.driver.core.QueryLogger.SLOW" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="com.datastax.driver.core.QueryLogger.ERROR" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="com.datastax.driver.core.Connection" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="com.datastax.driver.core.Cluster" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="com.datastax.driver.core.RequestHandler" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="com.datastax.driver.core.Session" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <!--   <logger name="com.datastax.oss.driver" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>  -->
    <logger name="akka.persistence.cassandra.query" level="${CASSANDRA_LOG_LEVEL:-INFO}"/>
    <logger name="akka.persistence.r2dbc.query" level="INFO"/>
    <logger name="akka.persistence.r2dbc.migration.MigrationTool" level="INFO"/>
    <logger name="io.r2dbc.postgresql.client.ReactorNettyClient" level="INFO"/>
    <logger name="io.r2dbc.postgresql.QUERY" level="INFO"/>
    <logger name="io.r2dbc.postgresql.ExceptionFactory" level="INFO"/>
    <logger name="akka.persistence.r2dbc.migration.MigrationTool" level="${MIGRATION_TOOL_LOG:-INFO}"/>
    <logger name="hmda.persistence.migrator.HmdaPersistenceMigrator" level="${HMDA_MIGRATOR_LOG:-INFO}"/>
</configuration>