# Default values for hmda-platform.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# namespace: default

#keycloak:
#  auth.url: https://192.168.99.100:8443/auth

rbac:
  enabled: false

replicaCount: 3

image:
  repository: hmda/hmda-platform
  tag: latest
  pullPolicy: IfNotPresent
  commitId: 

# note change these for namespace other than default
hmda:
  actorSystemName: hmda2
  runtimeMode: kubernetes
#  podNamespace: default
#  apiNamespace: hmda-api
#  serviceNamespace: default.svc.cluster.local

kafka:
  institutionsTopic: institution
  modifiedLarTopic: hmda-modified-lar
  irsTopic: hmda-irs
  analyticsTopic: hmda-analytics
  signTopic: hmda-sign
  disclosureTopic: hmda-spark-disclosure

service:
  type: ClusterIP
  account:
    name: hmda-platform
  name: hmda-platform

#ambassador:
#  port: 80
#  service:
#    type: NodePort

remoting:
  name: remoting
  protocol: TCP
  port: 2551

filing:
  name: filing
  protocol: TCP
  port: 8080

admin:
  name: admin
  protocol: TCP
  port: 8081

public:
  name: public
  protocol: TCP
  port: 8082

cluster:
  name: management
  protocol: TCP
  port: 8558

bootstrap:
  name: bootstrap
  protocol: TCP
  port: 8558

websockets:
  name: websockets
  protocol: TCP
  port: 9080

# note change these for namespace other than default
grpc:
  check_digit:
    port: 60080
    host: check-digit-grpc.default.svc.cluster.local
  census:
    port: 60081
    host: census-api-grpc.default.svc.cluster.local


ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - hmda-platform.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  requests:
   cpu: "2"
   memory: 6200Mi

nodeSelector: {}

tolerations: []

affinity: 
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: app
          operator: In
          values:
          - "hmda-platform"
          - "keycloak"
      topologyKey: kubernetes.io/hostname

logs:
  cassandra: TRACE

ambassador_id: ambassador-default-1
# ambassador_host: hmda-public.example.com
