apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "file-proxy.fullname" . }}
  labels:
  annotations:
    reloader.stakater.com/search: "true"
    app: {{ template "file-proxy.name" . }}
    chart: {{ template "file-proxy.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "file-proxy.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "file-proxy.name" . }}
        release: {{ .Release.Name }}
    spec:
      volumes:
        - name: tz-config
          hostPath:
            path: /usr/share/zoneinfo/America/New_York
      serviceAccountName: {{ .Values.service.account.name }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          volumeMounts:
            - name: tz-config
              mountPath: /etc/localtime
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          envFrom:
          - configMapRef:
              name: {{ include "file-proxy.fullname" . }}-publication-config
          env:
          - name: HMDA_RUNTIME_MODE
            value: {{ .Values.hmda.runtimeMode }}
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: aws-credentials
                key: aws-access-key-id
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: aws-credentials
                key: aws-secret-access-key
          - name: AWS_ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: s3-configmap
                key: aws-environment
          - name: S3_PRIVATE_BUCKET
            valueFrom:
              configMapKeyRef:
                name: s3-configmap
                key: s3-private-bucket
          - name: BANK_FILTER_LIST
            valueFrom:
              configMapKeyRef:
                name: bank-filter-configmap
                key: bank-filter-list
          - name: AWS_REGION
            valueFrom:
              configMapKeyRef:
                name: s3-configmap
                key: aws-region
          - name: KEYCLOAK_REALM_URL
            valueFrom:
              configMapKeyRef:
                name: http-configmap
                key: auth.realmUrl
          - name: KEYCLOAK_PUBLIC_MODULUS
            valueFrom:
              configMapKeyRef:
                name: keycloak-public-key-configmap
                key: keycloak.publicKey.modulus
          - name: KEYCLOAK_PUBLIC_EXPONENT
            valueFrom:
              configMapKeyRef:
                name: keycloak-public-key-configmap
                key: keycloak.publicKey.exponent
          - name: DYNAMIC_YEARS
            value: {{ .Values.hmda.dynamic_years }}
          - name: STATIC_YEARS
            value: {{ .Values.hmda.static_years }}
          - name: IRS_YEARS
            value: {{ .Values.hmda.irs_years }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
