<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d][%-5level][%thread][%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <root level="${EMAIL_LOG_LEVEL:-INFO}">
        <appender-ref ref="ASYNC" />
    </root>
    <logger name="com.amazonaws" level="ERROR" />
    <logger name="slick.jdbc.DriverDataSource" level="${EMAIL_LOG_LEVEL:-INFO}"/>
    <logger name="slick.basic.BasicBackend.stream" level="${EMAIL_LOG_LEVEL:-INFO}"/>
    <logger name="slick.basic.BasicBackend.action" level="${EMAIL_LOG_LEVEL:-INFO}"/>
    <logger name="logger.slick.session" level="${EMAIL_LOG_LEVEL:-INFO}"/>
</configuration>